.heading {
font-style: italic;
color:mediumblue;
font-size: 19;
margin:0px;
width:100%;
box-shadow: 5px 5px 100px 6px goldenrod;
}
#font_size {
font-style: oblique;
color: darkmagenta;
font-size: 19px;
}
.copyrighter-footer {
float: none;
position: fixed;
bottom:0;
box-shadow: 5px 5px 200px green;
width: 100%;
font-style: italic;
color: saddlebrown;
text-align: center;
background-color: black;
}
canvas {
border: 5px solid blueviolet;
box-shadow: 5px 5px 23px greenyellow;
}

#name {
color: yellow;
}